{% extends 'base.html' %}

{% block head %}
    <title>My ToDo List</title>
{% endblock %}


{% block body %}
    <h1>My ToDo List </h1>
    <table>
        <tr>
            <td>Task</td>
            <td>Completed</td>
            <td>Date Created</td>
            <td>Actions</td>
        </tr>
        {% for tasks in tasks %}
        <tr>
            <td>{{ tasks.content }}</td>
            <td>{{ tasks.completed }}</td>
            <td>{{ tasks.date_created }}</td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
{% endblock %}